<header class="p-3 w-full fixed top-0 z-50 bg-gradient-to-r from-primary to-black">
  <div class="flex align-middle items-center px-10 mx-auto gap-6">
    <a
      routerLink="/"
      routerLinkActive="text-accent"
      [routerLinkActiveOptions]="{exact:true}"
      class="flex items-center gap-3 max-h-16 border-r-white border-r-2 pr-6">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" stroke-width="1.5"
           stroke="currentColor" class="size-7">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z" />
      </svg>
      <h3 class="text-2xl font-semibold uppercase ">Dating app</h3>
    </a>
    <nav class="flex gap-3 my-2 uppercase text-lg text-white">
      @if (accountService.currentUser()) {
        <a routerLink="/members" routerLinkActive="text-accent" [routerLinkActiveOptions]="{exact:true}">Matches</a>
        <a routerLink="/lists" routerLinkActive="text-accent">Lists</a>
        <a routerLink="messages" routerLinkActive="text-accent">Messages</a>
      }
    </nav>
    <div class="flex align-middle ml-auto gap-3">

      <div class="dropdown mr-5 dropdown-end">
        <button tabindex="2" role="button" class="flex flex-col justify-center align-middle
        text-white cursor-pointer uppercase text-xs">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
               stroke="currentColor" class="size-6 flex self-center">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M9.53 16.122a3 3 0 0 0-5.78 1.128 2.25 2.25 0 0 1-2.4 2.245 4.5 4.5 0 0 0 8.4-2.245c0-.399-.078-.78-.22-1.128Zm0 0a15.998 15.998 0 0 0 3.388-1.62m-5.043-.025a15.994 15.994 0 0 1 1.622-3.395m3.42 3.42a15.995 15.995 0 0 0 4.764-4.648l3.876-5.814a1.151 1.151 0 0 0-1.597-1.597L14.146 6.32a15.996 15.996 0 0 0-4.649 4.763m3.42 3.42a6.776 6.776 0 0 0-3.42-3.42" />
          </svg>
          <span> {{ selectedTheme() }}</span>

        </button>
        <ul tabindex="2" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52">
          @for (theme of themes; track $index) {
            <li (click)="handleSelectTheme(theme)">
              <a>
{{ theme }}
              </a>
            </li>
          }
        </ul>
      </div>

      @if (accountService.currentUser(); as user) {
        <div class="dropdown dropdown-end">
          <div tabindex="0" role="button"
               class="flex items-center text-white text-xl gap-3 cursor-pointer">
            <img [src]="user?.imageUrl || '/user.png'" alt="user avatar" class="w-10 h-10 rounded-full">
            <span>{{ user.displayName }}</span>
          </div>
          <ul tabindex="-1" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52">
            <li><a>Edit profile</a></li>
            <li><a (click)="logout()">Log out</a></li>
          </ul>

        </div>
      } @else {
        <form #loginForm="ngForm" (ngSubmit)="login()" class="flex items-center gap-3">
          <input [(ngModel)]="creds.Email" type="text" name="email" class="input" placeholder="Email">
          <input [(ngModel)]="creds.Password" type="password" name="password" class="input" placeholder="Password">
          <button type="submit" class="btn">Login</button>
        </form>
      }
    </div>
  </div>
</header>
